.presenter {
	border-bottom: 0.125rem solid $color-gray-lighter;
	overflow: hidden;
	padding: 2rem 0;

	&__image {
		float: left;
		margin-right: 1rem;
	}

	&__content {
		overflow: hidden;
	}

	&__name {
		font-family: $font-family-primary;
		font-size: 1.125rem;
		font-weight: 700;
		margin: 0;
	}

	&__title,
	&__location {
		color: $color-gray;
		font-size: 0.8125rem;
		font-weight: 700;
		margin: 0;
	}

	&__description {
		color: $color-gray;
		font-size: 0.8125rem;
	}

}