.search {
	display: none;
}

@media screen and (min-width: 48rem) {

	.search {
		border-bottom: 0.25rem solid $color-gray-light;
		padding: 0;
		position: relative;
		width: 24rem;

		&:before {
			color: $color-gray;
			content: "\e901";
			display: block;
			font-family: $font-family-icons;
			position: absolute;
			right: 0.25rem;
			top: 50%;
			@include transform(translate(0, -50%));
		}

		fieldset {
			border: 0;
			margin: 0;
			outline: 0;
			padding: 0;
		}

		&__input {
			background-color: transparent;
			border: 0;
			outline: 0;
			padding: 0;
			width: 100%;
		}

		&__input::-webkit-input-placeholder {
			font-family: $font-family-secondary;
			font-size: 1.125rem;
			font-style: italic;
			font-weight: 400;
		}

		&__submit {
			background-color: transparent;
			border: 0;
			padding: 0;
			position: absolute;
			right: 0;
			text-indent: -9999px;
			top: 0;
			width: 1.5rem;
		}

	}

}