@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700|Bitter:400,400italic,700);

body {
	font-family: $font-family-primary;
	line-height: 1.2;
}

a {
	color: $color-teal;
	text-decoration: none;
}

h1,
h2 {
	font-family: $font-family-secondary;
	font-weight: 400;
}

h1 {
	color: $color-gray;
	font-size: 3.125rem;
	font-style: italic;
}

h2 {
	color: $color-gray-dark;
	font-size: 1.875rem;
}

p {
	line-height: 1.6;
}

.section__heading {
	background: $color-gray-lighter;
	color: $color-gray-dark;
	font-size: 1.125rem;
	font-weight: 700;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	text-transform: uppercase;
}