$color-gray-darker: #485055;
$color-gray-dark: #5b6469;
$color-gray: #778186;
$color-gray-light: #d3d4d5;
$color-gray-lighter: #ebecec;

$color-black: #000;
$color-white: #fff;
$color-offwhite: #f6f6f6;

$color-orange-darker: #783a25;
$color-orange-dark: #bf5c3d;
$color-orange: #fb7b4f;
$color-orange-light: #ffd3c4;

$color-green-darker: #1c633c;
$color-green-dark: #299459;
$color-green: #33b86e;
$color-green-light: #7affba;

$color-blue-darker: #004c66;
$color-blue-dark: #0086b2;
$color-blue: #00a8de;
$color-blue-light: #7ae9ff;

$color-teal: #27bbc8;
$color-gold: #eba643;

$font-family-primary: "Fira Sans", sans-serif;
$font-family-secondary: "Bitter", serif;
$font-family-icons: "icomoon";

$timing: 0.5s;