.details {
	margin-bottom: 6rem;

	.section__heading {
		margin-bottom: 2rem;
	}

	dt {
		font-weight: 700;
	}

}

@media screen and (--medium) {

	.details {

		dl {
			display: flex;
			flex-wrap: wrap;
		}

		dt {
			flex: 0 0 6.625rem;
			font-weight: 700;
			text-align: right;
		}

	}

}