:root {
	--color-filters: var(--color-orange);
	/* --color-filters: var(--color-green); */
	--color-filters-dark: color(var(--color-filters) shade(25%));
	--color-filters-darker: color(var(--color-filters) shade(50%));
	--color-filters-light: color(var(--color-filters) tint(80%));
}

.filters {
	background-color: var(--color-filters);
	margin-bottom: 4.25rem;
	padding: 2.25rem 0;
	position: relative;
	text-align: center;

	&:before {
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
		border-top: 1rem solid var(--color-filters);
		bottom: -1rem;
		content: "";
		display: block;
		height: 0; 
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0);
		width: 0; 
	}

}

.filter-section {

	&:first-child {
		margin-bottom: 2.5rem;
	}

	&__label,
	&__list {
		display: inline-block;
		font-size: 1.125rem;
	}

	&__label {
		color: var(--color-filters-darker);
		font-family: var(--font-family-secondary);
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	&__list {
		@mixin list-bare;
	}

	&__list-item {
		display: inline-block;
		margin: 0 0.25rem;
	}

	&__link {
		color: var(--color-filters-light);
		padding: 0;
		@mixin transition color;

		&:hover {
			color: var(--color-white);
		}

		&.is-active {
			color: var(--color-white);
			display: inline-block;
			font-weight: 700;
			position: relative;

			&:before {
				background-color: var(--color-white);
				bottom: -0.25rem;
				content: "";
				display: block;
				height: 0.25rem;
				position: absolute;
				width: 100%;
			}

		}
	}

}

.filter-select {
	-webkit-appearance: none;
	background: var(--color-filters-dark) url(../images/arrow_down.png) right 1rem center no-repeat;
	border: 0;
	border-radius: 0;
	color: var(--color-white);
	cursor: pointer;
	height: 2.75rem;
	min-width: 14.5rem;
	outline: 0;
	padding: 0 3rem 0 0.75rem;
	width: 100%;

	&__wrapper {
		display: inline-block;
		width: 100%;

	}

	&__label {
		color: var(--color-filters-darker);
		display: block;
		font-size: 0.8125rem;
		font-weight: 700;
		margin-bottom: 0.125rem;
		text-align: left;
	}

}

@media screen and (--medium) {

	.filter-section {

		&__label {
			margin-bottom: 0;
		}

		&__list-item {
			margin: 0 0 0 1.75rem;
		}

	}

	.filter-select {
		width: auto;

		&__wrapper {
			margin-left: 2.75rem;
			width: auto;

			&:nth-child(2) {
				margin-left: 1.625rem;
			}

		}

	}

}