.app-bar {
	background-color: $color-gray-darker;
	padding: 1rem 0;

	.wrapper {
		@include display-flex;
		@include justify-content(space-between);
	}

	&__nav {
		@include align-self(center);
	}

	&__nav-list {
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	&__nav-link {
		color: $color-offwhite;
		display: block;
		padding: 0;
		@include transition-property(color);
		@include transition-duration(0.5s);

		&:hover {
			color: $color-teal;
		}
	}

	&__schedule {

		.button {
			float: right;
		}

	}

	&__schedule-list {
		display: inline-block;
		list-style: disc;
		margin: 0 0 1rem;
		text-align: right;
	}

	&__schedule-item {
		display: inline-block;
		font-size: 0.875rem;
		font-weight: 700;
		text-transform: uppercase;

		&:nth-child(1) {
			color: $color-orange;
		}

		&:nth-child(2) {
			color: $color-blue;

		}

		&:nth-child(3) {
			color: $color-green;

		}

	}

}

@media screen and (min-width: 48rem) {

	.app-bar {

		&__nav-list-item {
			display: inline;
			float: left;

			&:first-child a {
				padding-left: 0;
			}

		}

		&__nav-link {
			padding: 0 0.625rem;
		}

		&__schedule {

			.button {
				float: none;
				margin-left: 2rem;
			}

		}

		&__schedule-list {
			margin: 0;
			text-align: left;
		}

		&__schedule-item {
			margin-left: 1rem;

			&:nth-child(1) {
				margin-left: 0;
			}

		}

	}

}